@page "/"
@using McIntoshHotshots.Model
@using McIntoshHotshots.Repo
@inject IPlayerRepo _playerRepo

<PageTitle>McIntosh Hotshots</PageTitle>

@* TODO: scoped css *@
<div style="width: 100%; max-width: 90rem; height: 98.25rem; padding-top: 5rem; background: white; flex-direction: column; justify-content: flex-start; align-items: center; display: inline-flex">
  <div style="align-self: stretch; height: 36.25rem; padding: 3.75rem; flex-direction: column; justify-content: center; align-items: center; gap: 3.75rem; display: flex">
    <div style="align-self: stretch; justify-content: center; align-items: center; gap: 3.75rem; display: inline-flex">
      <div style="width: 11.25rem; height: 11.25rem; justify-content: flex-start; align-items: flex-start; display: flex">
        <div style="width: 11.25rem; height: 11.25rem; position: relative; background: rgba(216.75, 216.75, 216.75, 0.50)"></div>
      </div>
      <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 1.5rem; display: inline-flex">
        <div style="align-self: stretch; color: black; font-size: 2.5rem; font-family: Roboto; font-weight: 700; line-height: 3rem; word-wrap: break-word">Upcoming Tournaments</div>
        <div style="align-self: stretch; color: black; font-size: 1rem; font-family: Roboto; font-weight: 400; line-height: 1.5rem; word-wrap: break-word">Explore and Register</div>
        <div style="justify-content: flex-start; align-items: flex-start; gap: 0.75rem; display: inline-flex">
          <div style="width: 15rem; padding: 0.75rem; border-radius: 0.5rem; border: 0.0625rem black solid; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
            <div style="color: black; font-size: 1rem; font-family: Roboto; font-weight: 500; line-height: 1.5rem; word-wrap: break-word">Filter Tournaments</div>
          </div>
          <div style="width: 15rem; padding: 0.75rem; background: black; border-radius: 0.5rem; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
            <div style="color: white; font-size: 1rem; font-family: Roboto; font-weight: 500; line-height: 1.5rem; word-wrap: break-word">Register Now</div>
          </div>
        </div>
      </div>
    </div>
    <div style="align-self: stretch; height: 13.75rem; padding-top: 1.25rem; padding-bottom: 1.25rem; flex-direction: column; justify-content: center; align-items: center; gap: 2.5rem; display: flex">
      <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 2.5rem; display: inline-flex">
        <div style="flex: 1 1 0; height: 11.25rem; padding: 1rem; border-radius: 0.375rem; border: 0.0625rem rgba(0, 0, 0, 0.10) solid; justify-content: center; align-items: flex-start; gap: 1rem; display: flex">
          <div style="width: 6.25rem; height: 6.25rem; justify-content: flex-start; align-items: flex-start; display: flex">
            <div style="width: 6.25rem; height: 6.25rem; position: relative; background: rgba(216.75, 216.75, 216.75, 0.50)"></div>
          </div>
          <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 0.5rem; display: inline-flex">
            <div style="align-self: stretch; color: black; font-size: 1.25rem; font-family: Roboto; font-weight: 500; line-height: 1.75rem; word-wrap: break-word">Monday Madness Dart Tournament</div>
            <div style="align-self: stretch; color: rgba(0, 0, 0, 0.50); font-size: 0.875rem; font-family: Roboto; font-weight: 400; line-height: 1.25rem; word-wrap: break-word">Intermediate Level</div>
            <div style="align-self: stretch; color: black; font-size: 1rem; font-family: Roboto; font-weight: 400; line-height: 1.5rem; word-wrap: break-word">Join the Monday Madness tournament and showcase your dart skills among the best players!</div>
            <div style="align-self: stretch; padding-top: 0.25rem; padding-bottom: 0.25rem; justify-content: flex-start; align-items: center; gap: 0.375rem; display: inline-flex">
              <div style="padding-left: 0.25rem; padding-right: 0.25rem; padding-top: 0.125rem; padding-bottom: 0.125rem; background: rgba(216.75, 216.75, 216.75, 0.50); border-radius: 0.125rem; overflow: hidden; border: 0.03125rem rgba(0, 0, 0, 0.10) solid; justify-content: center; align-items: center; gap: 0.125rem; display: flex">
                <div style="color: black; font-size: 0.75rem; font-family: Roboto; font-weight: 400; line-height: 1rem; word-wrap: break-word">Date: 12th April</div>
              </div>
              <div style="padding-left: 0.25rem; padding-right: 0.25rem; padding-top: 0.125rem; padding-bottom: 0.125rem; background: rgba(216.75, 216.75, 216.75, 0.50); border-radius: 0.125rem; overflow: hidden; border: 0.03125rem rgba(0, 0, 0, 0.10) solid; justify-content: center; align-items: center; gap: 0.125rem; display: flex">
                <div style="color: black; font-size: 0.75rem; font-family: Roboto; font-weight: 400; line-height: 1rem; word-wrap: break-word">Fee: $20</div>
              </div>
              <div style="padding-left: 0.25rem; padding-right: 0.25rem; padding-top: 0.125rem; padding-bottom: 0.125rem; background: rgba(216.75, 216.75, 216.75, 0.50); border-radius: 0.125rem; overflow: hidden; border: 0.03125rem rgba(0, 0, 0, 0.10) solid; justify-content: center; align-items: center; gap: 0.125rem; display: flex">
                <div style="color: black; font-size: 0.75rem; font-family: Roboto; font-weight: 400; line-height: 1rem; word-wrap: break-word">Slots: 16</div>
              </div>
            </div>
          </div>
        </div>
        <div style="flex: 1 1 0; height: 11.25rem; padding: 1rem; border-radius: 0.375rem; border: 0.0625rem rgba(0, 0, 0, 0.10) solid; justify-content: center; align-items: flex-start; gap: 1rem; display: flex">
          <div style="width: 6.25rem; height: 6.25rem; justify-content: flex-start; align-items: flex-start; display: flex">
            <div style="width: 6.25rem; height: 6.25rem; position: relative; background: rgba(216.75, 216.75, 216.75, 0.50)"></div>
          </div>
          <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 0.5rem; display: inline-flex">
            <div style="align-self: stretch; color: black; font-size: 1.25rem; font-family: Roboto; font-weight: 500; line-height: 1.75rem; word-wrap: break-word">Weekend Showdown Championship</div>
            <div style="align-self: stretch; color: rgba(0, 0, 0, 0.50); font-size: 0.875rem; font-family: Roboto; font-weight: 400; line-height: 1.25rem; word-wrap: break-word">Advanced Level</div>
            <div style="align-self: stretch; color: black; font-size: 1rem; font-family: Roboto; font-weight: 400; line-height: 1.5rem; word-wrap: break-word">Compete in the Weekend Showdown to claim the championship title and awesome prizes!</div>
            <div style="align-self: stretch; padding-top: 0.25rem; padding-bottom: 0.25rem; justify-content: flex-start; align-items: center; gap: 0.375rem; display: inline-flex">
              <div style="padding-left: 0.25rem; padding-right: 0.25rem; padding-top: 0.125rem; padding-bottom: 0.125rem; background: rgba(216.75, 216.75, 216.75, 0.50); border-radius: 0.125rem; overflow: hidden; border: 0.03125rem rgba(0, 0, 0, 0.10) solid; justify-content: center; align-items: center; gap: 0.125rem; display: flex">
                <div style="color: black; font-size: 0.75rem; font-family: Roboto; font-weight: 400; line-height: 1rem; word-wrap: break-word">Date: 24th April</div>
              </div>
              <div style="padding-left: 0.25rem; padding-right: 0.25rem; padding-top: 0.125rem; padding-bottom: 0.125rem; background: rgba(216.75, 216.75, 216.75, 0.50); border-radius: 0.125rem; overflow: hidden; border: 0.03125rem rgba(0, 0, 0, 0.10) solid; justify-content: center; align-items: center; gap: 0.125rem; display: flex">
                <div style="color: black; font-size: 0.75rem; font-family: Roboto; font-weight: 400; line-height: 1rem; word-wrap: break-word">Fee: $30</div>
              </div>
              <div style="padding-left: 0.25rem; padding-right: 0.25rem; padding-top: 0.125rem; padding-bottom: 0.125rem; background: rgba(216.75, 216.75, 216.75, 0.50); border-radius: 0.125rem; overflow: hidden; border: 0.03125rem rgba(0, 0, 0, 0.10) solid; justify-content: center; align-items: center; gap: 0.125rem; display: flex">
                <div style="color: black; font-size: 0.75rem; font-family: Roboto; font-weight: 400; line-height: 1rem; word-wrap: break-word">Slots: 24</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="width: 100%; max-width: 90rem; height: 0rem; border: 0.0625rem rgba(0, 0, 0, 0.10) solid"></div>
  </div>
</div>

@code
{
  protected override async Task OnInitializedAsync()
  {
    var x = await _playerRepo.GetPlayersAsync();
    foreach (PlayerModel playerModel in x)
    {
      Console.WriteLine(playerModel.Name);
    }

  }
}
