@page "/"

<PageTitle>McIntosh Hotshots</PageTitle>

<div style="width: 1440px; height: 1404px; padding-top: 80px; background: white; flex-direction: column; justify-content: flex-start; align-items: center; display: inline-flex">
    <div style="align-self: stretch; padding-left: 170px; padding-right: 170px; padding-top: 60px; padding-bottom: 60px; justify-content: center; align-items: center; gap: 60px; display: inline-flex">
        <div style="width: 1440px; height: 0px; border: 1px rgba(0, 0, 0, 0.10) solid"></div>
        <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: center; gap: 24px; display: inline-flex">
            <div style="width: 520px; text-align: center; color: black; font-size: 40px; font-family: Roboto; font-weight: 700; line-height: 48px; word-wrap: break-word">Create a Profile</div>
            <div style="width: 520px; text-align: center; color: black; font-size: 16px; font-family: Roboto; font-weight: 400; line-height: 24px; word-wrap: break-word">Join the McIntosh Hotshots and start playing in darts tournaments!</div>
            <div style="justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
                <div style="width: 240px; padding: 12px; border-radius: 8px; border: 1px black solid; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                    <div style="color: black; font-size: 16px; font-family: Roboto; font-weight: 500; line-height: 24px; word-wrap: break-word">Log In</div>
                </div>
                <div style="width: 240px; padding: 12px; background: black; border-radius: 8px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                    <div style="color: white; font-size: 16px; font-family: Roboto; font-weight: 500; line-height: 24px; word-wrap: break-word">Sign Up</div>
                </div>
            </div>
        </div>
    </div>
    <div style="align-self: stretch; height: 616px; padding-left: 170px; padding-right: 170px; padding-top: 60px; padding-bottom: 60px; flex-direction: column; justify-content: center; align-items: center; gap: 60px; display: flex">
        <div style="align-self: stretch; height: 48px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 24px; display: flex">
            <div style="width: 520px; text-align: center; color: black; font-size: 40px; font-family: Roboto; font-weight: 700; line-height: 48px; word-wrap: break-word">Profile Information</div>
        </div>
        <div style="align-self: stretch; height: 388px; flex-direction: column; justify-content: center; align-items: center; gap: 40px; display: flex">
            <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 80px; display: inline-flex">
                <div style="width: 510px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 4px; display: inline-flex">
                    <div style="align-self: stretch; color: black; font-size: 14px; font-family: Roboto; font-weight: 500; line-height: 20px; word-wrap: break-word">Full Name</div>
                    <div style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 8px; padding-bottom: 8px; background: white; border-radius: 6px; border: 1px rgba(0, 0, 0, 0.10) solid; justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
                        <div style="flex: 1 1 0; height: 20px; color: rgba(0, 0, 0, 0.50); font-size: 14px; font-family: Roboto; font-weight: 400; line-height: 20px; word-wrap: break-word">John Doe</div>
                    </div>
                </div>
                <div style="width: 510px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 4px; display: inline-flex">
                    <div style="align-self: stretch; color: black; font-size: 14px; font-family: Roboto; font-weight: 500; line-height: 20px; word-wrap: break-word">Username</div>
                    <div style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 8px; padding-bottom: 8px; background: white; border-radius: 6px; border: 1px rgba(0, 0, 0, 0.10) solid; justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
                        <div style="flex: 1 1 0; height: 20px; color: rgba(0, 0, 0, 0.50); font-size: 14px; font-family: Roboto; font-weight: 400; line-height: 20px; word-wrap: break-word">Choose a unique username</div>
                    </div>
                </div>
            </div>
            <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 80px; display: inline-flex">
                <div style="width: 510px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 4px; display: inline-flex">
                    <div style="align-self: stretch; color: black; font-size: 14px; font-family: Roboto; font-weight: 500; line-height: 20px; word-wrap: break-word">Email Address</div>
                    <div style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 8px; padding-bottom: 8px; background: white; border-radius: 6px; border: 1px rgba(0, 0, 0, 0.10) solid; justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
                        <div style="flex: 1 1 0; height: 20px; color: rgba(0, 0, 0, 0.50); font-size: 14px; font-family: Roboto; font-weight: 400; line-height: 20px; word-wrap: break-word">example@example.com</div>
                    </div>
                </div>
                <div style="width: 510px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 4px; display: inline-flex">
                    <div style="align-self: stretch; color: black; font-size: 14px; font-family: Roboto; font-weight: 500; line-height: 20px; word-wrap: break-word">Password</div>
                    <div style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 8px; padding-bottom: 8px; background: white; border-radius: 6px; border: 1px rgba(0, 0, 0, 0.10) solid; justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
                        <div style="flex: 1 1 0; height: 20px; color: rgba(0, 0, 0, 0.50); font-size: 14px; font-family: Roboto; font-weight: 400; line-height: 20px; word-wrap: break-word">Enter password</div>
                    </div>
                    <div style="align-self: stretch; color: rgba(0, 0, 0, 0.50); font-size: 12px; font-family: Roboto; font-weight: 400; line-height: 16px; word-wrap: break-word">Use at least 8 characters</div>
                </div>
            </div>
            <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 80px; display: inline-flex">
                <div style="width: 510px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 4px; display: inline-flex">
                    <div style="align-self: stretch; color: black; font-size: 14px; font-family: Roboto; font-weight: 500; line-height: 20px; word-wrap: break-word">Phone Number</div>
                    <div style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 8px; padding-bottom: 8px; background: white; border-radius: 6px; border: 1px rgba(0, 0, 0, 0.10) solid; justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
                        <div style="flex: 1 1 0; height: 20px; color: rgba(0, 0, 0, 0.50); font-size: 14px; font-family: Roboto; font-weight: 400; line-height: 20px; word-wrap: break-word">Optional</div>
                    </div>
                    <div style="align-self: stretch; color: rgba(0, 0, 0, 0.50); font-size: 12px; font-family: Roboto; font-weight: 400; line-height: 16px; word-wrap: break-word">For notifications</div>
                </div>
            </div>
            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex">
                <div style="height: 48px; padding: 12px; background: black; border-radius: 8px; flex-direction: column; justify-content: center; align-items: center; display: flex">
                    <div style="color: white; font-size: 16px; font-family: Roboto; font-weight: 500; line-height: 24px; word-wrap: break-word">Submit</div>
                </div>
            </div>
        </div>
        <div style="width: 1440px; height: 0px; border: 1px rgba(0, 0, 0, 0.10) solid"></div>
    </div>
    <div style="align-self: stretch; padding-left: 170px; padding-right: 170px; padding-top: 60px; padding-bottom: 60px; justify-content: center; align-items: center; gap: 60px; display: inline-flex">
        <div style="width: 1440px; height: 0px; border: 1px rgba(0, 0, 0, 0.10) solid"></div>
        <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
            <div style="align-self: stretch; color: black; font-size: 40px; font-family: Roboto; font-weight: 700; line-height: 48px; word-wrap: break-word">Profile Settings</div>
            <div style="align-self: stretch; color: black; font-size: 16px; font-family: Roboto; font-weight: 400; line-height: 24px; word-wrap: break-word">Customize your profile preferences</div>
            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex">
                <div style="height: 48px; padding: 12px; background: black; border-radius: 8px; flex-direction: column; justify-content: center; align-items: center; display: flex">
                    <div style="color: white; font-size: 16px; font-family: Roboto; font-weight: 500; line-height: 24px; word-wrap: break-word">Save Changes</div>
                </div>
            </div>
        </div>
        <div style="flex: 1 1 0; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
            <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 40px; display: inline-flex">
                <div style="flex: 1 1 0; align-self: stretch; padding-top: 20px; padding-bottom: 20px; justify-content: center; align-items: center; gap: 16px; display: flex">
                    <div style="width: 60px; height: 60px; background: rgba(0, 0, 0, 0.05); border-radius: 30px; justify-content: center; align-items: center; display: flex">
                        <div style="width: 60px; align-self: stretch; text-align: center; color: black; font-size: 37.50px; font-family: Roboto; font-weight: 400; line-height: 60px; word-wrap: break-word">⚙️</div>
                    </div>
                    <div style="width: 520px; height: 0px; border: 1px rgba(0, 0, 0, 0.10) solid"></div>
                    <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                        <div style="align-self: stretch; color: black; font-size: 20px; font-family: Roboto; font-weight: 400; line-height: 28px; word-wrap: break-word">Edit Personal Details</div>
                    </div>
                </div>
            </div>
            <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 40px; display: inline-flex">
                <div style="flex: 1 1 0; align-self: stretch; padding-top: 20px; padding-bottom: 20px; justify-content: center; align-items: center; gap: 16px; display: flex">
                    <div style="width: 60px; height: 60px; background: rgba(0, 0, 0, 0.05); border-radius: 30px; justify-content: center; align-items: center; display: flex">
                        <div style="width: 60px; align-self: stretch; text-align: center; color: black; font-size: 37.50px; font-family: Roboto; font-weight: 400; line-height: 60px; word-wrap: break-word">🔔</div>
                    </div>
                    <div style="width: 520px; height: 0px; border: 1px rgba(0, 0, 0, 0.10) solid"></div>
                    <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                        <div style="align-self: stretch; color: black; font-size: 20px; font-family: Roboto; font-weight: 400; line-height: 28px; word-wrap: break-word">Manage Notification Preferences</div>
                    </div>
                </div>
            </div>
            <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 40px; display: inline-flex">
                <div style="flex: 1 1 0; align-self: stretch; padding-top: 20px; padding-bottom: 20px; justify-content: center; align-items: center; gap: 16px; display: flex">
                    <div style="width: 60px; height: 60px; background: rgba(0, 0, 0, 0.05); border-radius: 30px; justify-content: center; align-items: center; display: flex">
                        <div style="width: 60px; align-self: stretch; text-align: center; color: black; font-size: 37.50px; font-family: Roboto; font-weight: 400; line-height: 60px; word-wrap: break-word">💳</div>
                    </div>
                    <div style="width: 520px; height: 0px; border: 1px rgba(0, 0, 0, 0.10) solid"></div>
                    <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                        <div style="align-self: stretch; color: black; font-size: 20px; font-family: Roboto; font-weight: 400; line-height: 28px; word-wrap: break-word">View Payment History</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>