<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">McIntoshHotshots</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="live-scoring">
                <span class="bi bi-bullseye" aria-hidden="true"></span> Match
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="player-stats">
                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Player Stats
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tournament-stats">
                <span class="bi bi-trophy-fill-nav-menu" aria-hidden="true"></span> Tournament Stats
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="elo-rankings">
                <span class="bi bi-list-ol-nav-menu" aria-hidden="true"></span> ELO Rankings
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink href="Identity/Account/Login" class="nav-link">
                <span class="bi bi-box-arrow-in-right-nav-menu" aria-hidden="true"></span> Login
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink href="Identity/Account/Register" class="nav-link">
                <span class="bi bi-person-plus-nav-menu" aria-hidden="true"></span> Register
            </NavLink>
        </div>
    </nav>
</div>