<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    
    <!-- Styles -->
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="bootstrap-dark.css"/>
    <link rel="stylesheet" href="app.css"/>
    <link rel="stylesheet" href="McIntoshHotshots.styles.css"/>
    <link rel="stylesheet" href="css/charts.css"/>
    
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="favicon.png"/>
    
    <!-- Login Partial -->
    <partial name="_LoginPartial" />
    <HeadOutlet/>
</head>

<body>
<Routes/>

<!-- Scripts -->
<script src="_framework/blazor.web.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"
        integrity="sha256-DiMmxoaAcr7BWSdgxnKQQ8ruopYKK0bO5qIZKqxqv/A="
        crossorigin="anonymous"></script>
<script src="js/coaching.js"></script>
<script src="js/chart-interop.js"></script>

</body>

</html>